.header {
  background-color: #313131;
  border-bottom: 1px solid rgba(65, 211, 179, 0.411);
  box-shadow: 0 0 12px rgba(21, 238, 227, 0.61);
  min-height: var(--header-height);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.header__content {
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 5px;
}

.header__logo {
  flex: 0 0 36px;
}

.header__nav {
  position: absolute;

  top: var(--header-height);
  left: -100%;
  width: 100%;
  background-color: #313131a2;
  backdrop-filter: blur(2px);
  height: calc(100vh - var(--header-height));

  transition: .3s;
}

.header__navOpened {
  left: 0;
}

.header__burgerBtn {
  display: none;
}

@media(min-width: 600px) {
  .header__content {
    justify-content: start;
  }

  .header__nav {
    position: static;
    width: auto;
    height: auto;
  }
}




